a:visited{
	color: black;
	text-decoration-line: none;
}
a:hover{
	text-decoration-line: none;
}

h2{
	text-align: "center";
}
.day1-anime{
	color: aqua;
}

img{
	
}
.zhouzhou{
	width: 300px; 
	height: 150px;
}

