/* @import url(); */
html{
	font-size: 16px;
}
a:hover {
	text-decoration-line: none;
}
 div div  {
	width: auto;
 }
.zhouzhou {
	width: 40%;
	height: 40%;
	text-align: center;
	
}
/*  */
 a:visited {
	color:black;

}
h1 {
	color: royalblue;
	margin: auto;
	text-align: center;
}
.titile {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.box1 {
	margin-top:3000px;
	background-color: bisque;
	margin: auto;

}

/* .testbox {
	border-radius: 84px;
	background: linear-gradient(145deg, #8e6060, #a97272);
	box-shadow:  10px 10px 20px #724d4d,
             -10px -10px 20px #ca8989;
} */

div {
	text-align: center;
	width: 80%;
	/* background-color: beige; */
	margin: auto;
}
.form {
	text-align: center;
}

.contont {
	color: #555555;
}

p.content {
	font-size: 3.125rem;
}

div.xiaozhouzhou a img {
	height: 1px;
	width: 1px;
	border-top: 1px solid #666666;


}
div.xiaozhouzhou {
	height: 3px;
	overflow: hidden;
	transition: 0.5s all;
}

/* .xiaozhouzhou .line {
	border-top: 1px solid #666666;
	width: 100%;

} */
/* 分割线 */
/* .order {  

	height: 20px;

	line-height: 20px;
  
	text-align: center;
}

  
.order .line {

  display: inline-block;

  padding-top : 3px;

  width: 100%;

  border-top: 1px solid #666666;

} */
/* 分割线 */

.btn {
	float: left;
	padding: 0 10px;
	font-size: 40px;
	text-decoration: none;
	color: #2c3e50;
	font-family: Ionicons;
	cursor: pointer;
}
.btn::before {
	content: '\f20d';
}
.btnc::before {
	content: '\f12a';
}
