a:hover {
	text-decoration-line: none;
}

.zhouzhou {
	margin: 0.5rem 3rem;
	width: 40rem;
	height: 40rem;
	text-align: center;
}


h1 {
	color: royalblue;
	margin: auto;
	text-align: center;
}
.titile {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.box1 {
	margin-top:3000px;
	background-color: bisque;
	margin: auto;

}

/* .testbox {
	border-radius: 84px;
	background: linear-gradient(145deg, #8e6060, #a97272);
	box-shadow:  10px 10px 20px #724d4d,
             -10px -10px 20px #ca8989;
} */

div {
	text-align: center;
	margin: auto;
	width: 80%;
}


.contont {
	color: #555555;
}

p.content {
	font-size: 3.125rem;
}
